<div class="container">
  <article>
    <% if @respondable.is_a?(Post) %>
      <h3><%= @respondable.title %></h3>
      <% route = "posts" %>
    <% else %>
      <% route = "responses" %>
    <% end %>
    <p><%= @respondable.body %></p>
  </article>
  <form method="post" action="/<%= route %>/<%= @respondable.id %>/responses">
    <textarea name="body" placeholder="Enter your response here"></textarea><br>
    <input type="submit" value="Submit response">
  </form>
  <% if @errors %>
    <div class="errors-wrapper">
      <span>Your entry could not be saved:</span>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
