<ul>
  <li class="response-body" id="<%= response.id %>"><%= response.body %>
  <div class="response-info">
    <p> <img src="/imgs/grn_arrow.png" class="vote-img"><span class="response-vote"><%= response.votes.count %></span> <span class="response-author"><%= response.user.username %></span> <span class="response-date"><%= response.updated_at %></span></p>
  </div>
  <% response.responses.each do |response| %>
    <%= erb :"_comment_detail", locals: { response: response }%>
  <% end %>
  </li>
</ul>

