<article>
  <div id="<%= @post.id %>">
    <h3><%= @post.title %></h3>
    <form action = "/posts/<%= @post.id %>/edit" method = "get">
      <input type = "submit" value = "Edit">
    </form>
    <p><%= @post.body %></p>
  </div>

  <div class="comment-section">
    <h4>Comments:</h4>

    <% unless @post.user.id == session[:user_id] %>
      <button class="post-response-button">Add response</button>
    <% end %>

    <% if @post.responses.length > 0 %>
      <% @post.responses.each do |response| %>
        <%= erb :"_comment_detail", locals: { response: response }%>
      <% end %>
    <% end %>
  </div>
</article>
