<article>
  <div id="<%= @post.id %>">
      <div class="post-titles"><%= @post.title %></div>
      <br>
      <div class="post-bodies"><%= @post.body %></div>
      <br>
  </div>
  <div class="comment-section">
    <h3>Comments:</h3>
      <!-- <button type="button" class="btn btn-secondary post-response-button">Add response</button> -->
      <form action="/posts/<%= @post.id %>/responses/new" method="">
      <input class="btn btn-secondary post-response-button" type="submit" value="Add response">
      <% if @post.responses.length > 0 %>

        <% @post.responses.each do |response| %>
          <%= erb :"_comment_detail", locals: { response: response }%>
        <% end %>

      <% end %>
  <!-- </div> -->

</article>
